
<div class="content-form">
    <h3>Yorum Yapın</h3>
    <form method="post">
        <input type="hidden" placeholder="Id" name="Blogid" value="@ViewBag.deger" required />
        <input type="text" placeholder="Kullanici Adı" name="KullaniciAdi" required />
        <input type="text" placeholder="Mail" name="Mail" required />
        <textarea placeholder="Message" name="Yorum"></textarea>
        <input type="submit" value="Gönder" />
    </form>
</div>